<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lia's Maths Help 2000</title>
    <link rel="stylesheet" href="/static/homestyles.css">
</head>
<body>
    <header>
        <img src="/static/spinning_globe.gif" alt="Spinning Globe">
        <img src="/static/welcome.gif" alt="Welcome">
        <h1>Maths Help </h1>
        <marquee behavior="scroll" direction="right">
            <img src="/static/fast_cat_icon.gif"/>
            Struggling with math? This sites got you covered!
            <img src="/static/fast_cat_icon.gif"/>
        </marquee>
    </header>
    <main>
        <h2>Welcome to the <img src="/static/cool.gif">  Maths Website!</h2>
        <p>Need help with Algebra? Geometry? Fractions? You're in the right place! Resources Updated as needed</p>
        <p>Check out our resources:</p>
        <ul>
            <li><a href="#">Basic Arithmetic</a></li>
            <li><a href="#">Algebra </a></li>
            <li><a href="#">Geometry </a></li>
            <li><a href="#">Test Prep</a></li>
        </ul>
    </main>
    <footer>
        <p>&copy; 2025 Math Help | <a href="/templates/resources.html">More Resources</a></p>
        <img src="/static/314.gif"/>
    </footer>
</body>
</html>