<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Guestbook</title>
        <link rel="stylesheet" href="/static/guestbook.css">
    </head>
    <body>
        <a href="/templates/index.html"><img src="/static/backButton.gif" alt="Back"></a>
        <h1>More Resources</h1>
        <ul>
            <li><a href ="https://corbettmaths.com/contents/">Corbett Maths</a></li>
            <li><a href ="https://ie.ixl.com/">IXL</a></li>
            <li><a href ="https://www.khanacademy.org/">Khan Academy</a></li>
            <li><a href ="https://www.examinations.ie/exammaterialarchive/">Exam Papers</a></li>
            <li><a href ="https://www.youtube.com/@examlearn7874">Exam Learn Channel</a></li>
            <p>more coming soon....</p>
        </ul>
        
    
        <img src="/static/fish.gif"/>

</body>
</html>
